@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Work Sans;
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
  }
}
.content {
  max-width : 600px;
}
